extend layout

head
    script(type='text/javascript', src="../public/js/util.js")

mixin codeBlock()
    script.
        var editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
            lineNumbers: true,
            mode: "text/x-python",
            lineWrapping: true
        });
        editor.setSize('100%', '100%');

body
    .script
        var articleData = #{ articleData };
        var pythonData = #{ pythonDaata};

    block content
        mixin summary(a)
            text(class="tag")= a.tag
            a(href='/article/'+a.id) #{a.title}
            p= a.content

        +summary(articleData)
        textarea#editor #{pythonData}

        +codeBlock()


