extend layout
head
    script(type='text/javascript', src="../public/js/util.js")
body
    .script
        var pythonData = #{ pythonData };
    block content
        mixin summary(a,b,c,d)
            text(class="tag")= d
            a(href='/') #{a}
            p= c
            pre(class="prettyprint")
                each val in b
                    span= val
            //a(href='/') read more
            p

        each i in pythonData
            +summary(i.title, i.code, i.content, i.tag)
    block sidebar
        ul(class="menu", id="create")
            li
                a(href="/python/create") Create new post

