mixin pythonList(a,b,d)
    each i in d
        text(class="tag")= i
    a(href='/article/'+b) #{a}
    p

mixin postList(a)
    each i in a.tag
        span(class="tag")= i
    a(href='/article/p'+a.id) #{a.title}
    p= a.date
    p= a.abstract


mixin python(a)
    each i in a.tag
        text(class="tag")= i
    a(href='/article/'+a.id) #{a.title}
    p= a.content
    script(type='text/javascript', src="https://gist.github.com/hwangtamu/"+a.code+".js")

mixin post(a,b)
    each i in a.tag
        span(class="tag")= i
    p
        a(class="title" href='/article/p'+a.id) #{a.title}
    p= a.date
    each i in b
        | !{i}

mixin gist(d)
    img.gistAvatar(src=d.owner.avatar_url)
    a.gist_name(href="https://github.com/"+d.owner.login) #{d.owner.login}/
    each v,k in d.files
        a.gist_name(href=d.html_url) #{k}
        - break
    - var md = Math.floor((parseInt(Date.now())-parseInt(Date.parse(d.updated_at)))/1000)
    - var cd = Math.floor((parseInt(Date.now())-parseInt(Date.parse(d.created_at)))/1000)
    if d.created_at==d.updated_at
        - var m = Math.floor(cd/60)
        - var s = cd % 60
        if m == 0
            div.date Created #{s} seconds ago
        else if m == 1
            div.date Created 1 minute #{s} seconds ago
        else
            div.date Created #{m} minutes #{s} seconds ago
    else
        - var m = Math.floor(md/60)
        - var s = md % 60
        if m == 0
            div.date Created #{s} seconds ago
        else if m == 1
            div.date Created 1 minute #{s} seconds ago
        else
            div.date Created #{m} minutes #{s} seconds ago
    div.desc #{d.description}

    script(type='text/javascript', src="https://gist.github.com/"+d.owner.login+"/" + d.id + ".js")

mixin codeBlock()
    script.
        var editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
            lineNumbers: true,
            mode: "text/x-python",
            lineWrapping: true
        });
        editor.setSize('100%', '100%');

mixin disqus()
    #disqus_thread

    script.
        var disqus_config = function () {
            this.page.url = "#{fullUrl}";
            this.page.identifier = "#{identifier}";
            this.page.title = "#{title}"
        };

        (function () { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//hanwang-us.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();

    noscript.
        Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
