mixin pythonList(a,b,d)
    each i in d
        text(class="tag")= i
    a(href='/article/'+b) #{a}
    p

mixin postList(a)
    each i in a.tag
        span(class="tag")= i
    a(href='/article/p'+a.id) #{a.title}
    p= a.date
    p= a.abstract


mixin python(a)
    each i in a.tag
        text(class="tag")= i
    a(href='/article/'+a.id) #{a.title}
    p= a.content
    script(type='text/javascript', src="https://gist.github.com/hwangtamu/"+a.code+".js")

mixin post(a,b)
    each i in a.tag
        span(class="tag")= i
    p
        a(class="title" href='/article/p'+a.id) #{a.title}
    p= a.date
    each i in b
        | !{i}


mixin codeBlock()
    script.
        var editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
            lineNumbers: true,
            mode: "text/x-python",
            lineWrapping: true
        });
        editor.setSize('100%', '100%');

mixin disqus()
    #disqus_thread

    script.
        var disqus_config = function () {
            this.page.url = "#{fullUrl}";
            this.page.identifier = "#{identifier}";
            this.page.title = "#{title}"
        };

        (function () { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//hanwang-us.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();

    noscript.
        Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
