mixin pythonList(a,b,d)
    each i in d
        text(class="tag")= i
    a(href='/article/'+b) #{a}
    p

mixin postList(a,b,c,d)
    text(class="tag")= d
    a(href='/') #{a}
    p= b
    p= c
    a(href='/') read more
    p

mixin python(a)
    each i in a.tag
        text(class="tag")= i
    a(href='/article/'+a.id) #{a.title}
    p= a.content
    script(type='text/javascript', src="https://gist.github.com/hwangtamu/"+a.code+".js")


mixin codeBlock()
    script.
        var editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
            lineNumbers: true,
            mode: "text/x-python",
            lineWrapping: true
        });
        editor.setSize('100%', '100%');